.naslogo
{
    max-width: 15%;
    max-height: 15%;
    
    }

.padding-filter
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.diff-width
{
    width: 80%;
}

#hero
{
    padding-top:20px;
    text-align: center;
}

#loginforma{
    display: inline-block;
    position: center;
}

#baneri{
    display:flex;
    justify-content:center;
    
    
}

#baneri#td{
    padding: 0 15px;
    margin-left:20px;
}

.banner{
    width:170px;
    height:100px;
    border: 1px solid #555;
    margin: 10px;
    padding:5px;
    filter: grayscale(100%);
    transition: all .7s;
}

.banner:hover {
    filter: unset;
    transition: all .5s;
}

#ourpartners{
    display:flex;
    justify-content:center;
    color:#555;
}

.breadcrumbs{
    padding:10px;
    font-family: sans-serif;
    
}

.breadcrumbs__item{
    display:inline-block;
   
}

.breadcrumbs__item:not(:last-of-type)::after{
content:'>';
margin:0 5px;
color: gray
}

.breadcrumbs__link:hover{
    text-decoration: underline;
}

.breadcrumbs__link{
    color:gray;
}

.breadcrumbs__link--active{
    color:black;
}


